body {
    background: linear-gradient(to right,#000813 , #042335);
}

.container {
    padding: 0;
}

nav {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 30px;

}

.row {
    margin: 0;
    margin-bottom: 30px;
}

.col-12 {
    margin:0px;
    padding:0px;
}

.navbar {
    background: linear-gradient(to right,#AFB2AA , #BC92A4, #042335);
    padding-left: 3px;
    padding-right: 3px;

}

.navbar-brand {
    padding-left: 0px;
    padding-right:0px;
    margin-right:0px;
}

.navbar-toggler {
    margin-top: 13px;
    border: none;

}

.navbar-toggler:active {
    border:none;
}


#logo {
    margin-right: 5px;
}

.photos {
    background: linear-gradient(to right,#AFB2AA , #BC92A4, #042335);
}

.d-block {
    opacity: 0.7;
    max-height: 250px;
}


.carousel-caption {
    color:black;
    font-weight: 900;
    background-color: lightgrey;
    
}

.carousel slide, .carousel-inner, .carousel-item {
    padding: 0;
    margin: 0;
}

#carouseoProjects, #carouselPhotos {
    width: 80%;
    margin: 10%;
}

#carouselPhotos {
    max-height: 250px;
}


.card {
    width: 50%;
    padding-top: 80%;
    height: 100px;
    border: none;
    margin-left: 25%;
    background: linear-gradient(to right,#803F62 , #BC92A4, #DBA08E);
}


ul {
    margin: 0;
    padding: 0;
}

.about {
    width: 80%;
    background: linear-gradient(to right,#803F62 , #BC92A4, #DBA08E);
    text-align: center;
    color: black;
    margin: 10%;
    padding: 20px;
}

.services {
    width: 80%;
    background: linear-gradient(to right,#803F62 , #BC92A4, #DBA08E);
    text-align: center;
    color: black;
    margin: 10%;
    padding: 20px;
}

.contact {
    margin: 0px;
    padding: 0px;
}

.contact {
    min-height: 200px;
    background: linear-gradient(to right,#AFB2AA , #BC92A4, #042335);
    color: black;
    text-align: center;
}

.footer {
    padding: 0px;
    margin: 0px;


}

@media only screen and (min-width: 800px) {
    .container {

    }
}


