html,body {
    width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #051A13, #0E7025);
    background: linear-gradient(to right, rgba(5,26,19, 0.6), rgba(14,112,37, 0.6));
}

.container {
    padding: 0;
}

.container-fluid {
    padding: 0;
}

.navFixed {
    position: fixed;
    height: 120px;
    width: 100%;
    z-index:1;
}

.navi {
    width: 100%;
    margin: 0;
    padding: 0;
}

.firstDiv {
    height: 30px;
    background-color: black;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14px;
    color: #b4ac99;
    font-weight: 400;
}

.btn {
    float: right;
    font-size: 16px;
    min-width: 100px;
    padding: 0;
    background-color: #b4ac99;
    border: #b4ac99;
    color: black;
    font-weight: bold;
    border-radius: 0;
}

.btn:hover {
    background: rgb(0, 0, 0); /* Fall-back for browsers that don't                                 support rgba */
    background: rgba(54, 25, 25, 0);
    color: lightgrey;
}

.secondDiv {
    min-height: 50px;
    background-color: #DB512D;
}

.navbar-collapse .navbar-nav .nav-item {
    color: black;
}

.navbar-brand {
    width: 50%;
    padding-left: 0px;
    padding-right:0px;
    margin-right:0px;
}

.navbar-toggler {
    padding: 0;
    margin-top: 13px;
    border: 1px solid black;
}

.navbar-toggler-icon {
    float: right;
    border-color: black;
}

.navbar-toggler-icon:active {
    display: inline-block;
}


#logo {
    margin-right: 5px;
    float:left;
}



.thirdDiv {
    background-color: rgba(219,81,45, 0.4);
   /* background: linear-gradient(to right,rgba(180,172,153, 0.4) , rgba(21,129,139, 0.4), rgba(21,129,139, 0.4), rgba(4,55,72, 0.4), rgba(4,55,72, 0.4), rgba(180,172,153, 0.4) ); */
    height: 290px;
    text-align: center;
    color: black;
    padding-top: calc(110px + 1em);
    padding-bottom: 1em;
    margin-bottom: 20px;
}






.row {
    margin: 0;
    margin-bottom: 30px;
}

.col-12 {
    margin:0px;
    padding:0px;
}

.photos {
    background: linear-gradient(to right,#b4ac99 , #15818b, #15818b, #043748, #043748, #b4ac99 );

}

.d-block {
    opacity: 0.5;
    max-height: 270px;
}


.carousel-caption {
    color:black;
    font-weight: 900;
    background-color: lightgrey;
    
}

.carousel slide, .carousel-inner, .carousel-item {
    padding: 0;
    margin: 0;
}

#carouseoProjects, #carouselPhotos {
    width: 100%;
    margin: 0;
    padding: 0;
}

#carouselPhotos {
    max-height: 250px;
    margin-bottom: 20px;
    z-index:0;
}

#carouselProjects {
    margin-top: 30px;

    padding-bottom: 30px;
}

.card {
    width: 40%;
    padding-top: 40%;
    height: 100px;
    border: none;
    margin-left: 30%;
    background: linear-gradient(to right,#b4ac99 , #15818b, #15818b, #043748, #043748, #b4ac99 );
}


.cardMini {
    width:50px;
    height:50px;
    background: linear-gradient(to right,#b4ac99 , #15818b, #15818b, #043748, #043748, #b4ac99 );


}

#carouselProjects .list-inline {
    white-space:nowrap;
    overflow-x:auto;
}

#carouselProjects .carousel-indicators {
    position: static;
    left: initial;
    width: initial;



}

#carouselProjects .carousel-indicators > li {
    width: 50px;
    height: 50px;
    text-indent: initial;
    margin-right: 50px;
}

#carouselProjects .carousel-indicators > li.active .cardMini {
    opacity: 0.7;
}


.about {
    width: 100%;
    background: linear-gradient(to right,#b4ac99 , #15818b, #15818b, #043748, #043748, #b4ac99 );
    text-align: center;
    color: black;
    margin: 0;
    padding: 20px;

}

.services {
    width: 100%;
    background: linear-gradient(to right,#b4ac99 , #15818b, #15818b, #043748, #043748, #b4ac99 );
    text-align: center;
    color: black;
    margin: 0;
    padding: 20px;
    margin-top: 60px;
}

/* DB512D */

.contact {
    min-height: 200px;
    min-width: 100%;
    background-color: rgba(219,81,45, 0.4);
    color: black;
    margin: 0px;
    margin-top: 30px;
    padding: 0px;
}

.footer {
    padding: 0px;
    margin: 0px;


}

@media only screen and (min-width: 800px) {

}

